/* Full Name
Email
Password
Address
Confirm Password
Register Button 
registration
register-form
register-container
register-title
register-input
register-button*/
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}

body{
height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-family: Arial, sans-serif;
background-color: #f4f4f4;

}

.register-container{
display: flex;
flex-direction: column;
width: 350px;
max-width: 100%;
padding: 30px;
background-color: white;
border-radius: 10px;
box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.register-title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 28px;
}

.register-input{
    width: 100%;
    height: 40px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    padding: 15px 10px;
}
.register-input:focus {
    outline: none;
    border:2px #007bff solid;
}

.btn{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.register-button {
    padding: 12px;
    border: none;
    border-radius: 6px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    cursor: pointer;
    
}

.register-button:hover {
    background-color: #0056b3;
}

.goLogin{
    text-align: center;
    align-content: center;
}

a{
    text-decoration: none;
    color: #007bff;
}
a:hover {
    text-decoration: underline;
}